@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: darkgrey;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    padding-top: 50px ;
    font-variant: small-caps;
}

header>p{
    padding-bottom: 50px;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.imagem>p{
    background-color: rgba(0, 0, 0, 0.354);
    width: 400px;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(52, 52, 52);
    color: white;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}